doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Diary of Khueue
		link(rel="stylesheet" href="/css/main.scss")
		link(rel="icon" type="image/x-icon" href="/img/favicon.dev.png")
		script(defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous")
		//- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js")
	body
		#app
		script(src="/js/main.js")
